<ion-card *ngIf="platform.useAppFeatures | async; else componentContent">
    <ion-card-content>
        <ng-container *ngTemplateOutlet="componentContent"></ng-container>
    </ion-card-content>
</ion-card>

<ng-template #componentContent>
    <div class="verse-container">
        <div class="extras">
            <button class="tag-count small-screen-content" (click)="toggleTags($event)"
                [class.selected]="showTags">{{selectedVerse.tags.length}}</button>
            <div class="tag-container">
                <button class="tag-count big-screen-content" (click)="toggleTags($event)"
                    [class.selected]="showTags">{{selectedVerse.tags.length}}</button>
                <ng-container *ngIf="showTags">
                    <mat-chip *ngFor="let tag of getTagsForVerse(selectedVerse)" [selectable]="false"
                        [disableRipple]="true" class="verse-tag" (click)="tagClicked.emit(tag.key)">{{tag.name}}
                    </mat-chip>
                </ng-container>
            </div>
        </div>
        <div class="references" [class.multiple-references]="_verses.length > 1">
            <span class="reference-container" *ngFor="let verse of _verses" (click)="verseClicked(verse)">
                <span class="reference" [class.selected-verse]="_verses.length > 1 && verse === selectedVerse">
                    <span class="book">{{verse.reference.book.abbr}}</span>
                    <span class="chapter-verse">
                        <span class="chapter">{{verse.reference.chapter}}</span>
                        <span class="colon">:</span>
                        <span class="verses">{{verse.reference.verses}}</span>
                    </span>
                </span>
                <span class="inline-icon-container actions">
                    <a class="other-translations" [title]="content.bibleGatewayLinkDescription" target="_blank"
                        href="{{getOtherTranslationsLink(verse.reference)}}">
                        <img src="assets/bible-gateway-icon.ico">
                    </a>
                </span>
            </span>
        </div>
        <div class="text-container">
            <div class="text" [innerHTML]="selectedVerse.html"></div>
        </div>
    </div>
</ng-template>