<div class="verse">
    <div class="reference">
        <span class="book">{{verse.reference.book.abbr}}</span>
        <span class="chapter-verse">
            <span class="chapter">{{verse.reference.chapter}}</span>
            <span class="colon">:</span>
            <span class="verses">{{verse.reference.verses}}</span>
        </span>
        <span class="actions">
            <a class="other-translations" [title]="content.bibleGatewayLinkDescription"
                target="_blank"
                href="{{getOtherTranslationsLink(verse.reference)}}">
                <img src="assets/bible-gateway-icon.ico">
            </a>
        </span>
    </div>
    <div>
        <div class="verse-tags" [class.hidden]="!debugTags">
            <span *ngFor="let tag of tags; let last = last">
                {{tag}}<ng-container *ngIf="!last">, </ng-container>
            </span>
        </div>
        <div class="text" [innerHTML]="verse.html.replace('---', '&#8230;')"></div>
    </div>
</div>