@import '../../vars.scss';

.verse {
  display: flex;
  line-height: 1.5em;
}

.reference {
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.references {
  margin-right: 10px;
  color: darkslategray;

  .chapter-verse {
    margin-left: 5px;
  }
}

.reference-container {
  display: inline-flex;
}

.verse-number {
  color: $dark-grey;
  line-height: 0;
  margin-right: 2px;
}

.verse-break::after {
  content: '...';
  margin: 0 10px;
}

.multiple-references .reference {
  cursor: pointer;
}

.multiple-references .reference {
  border-bottom-color: $light-grey;

  &.selected-verse {
    border-bottom-color: $mid-grey;
  }
}

@media only screen and ($not-big-screen) {
  .verse {
    flex-direction: column;
    max-width: 600px;
    margin: auto;
  }

  .references {
    margin-bottom: 3px;
    min-width: initial;
    max-width: initial;
  }

  .reference-container {
    margin-right: 20px;
  }
}

.actions>* {
  padding-left: 5px;
}

@media only screen and ($big-screen) {
  .text {
    width: 600px;
    max-width: 65vw;
  }

  .actions {
    visibility: hidden;
  }

  .reference-container:hover .actions {
    visibility: visible;
  }

  .references {
    width: 25vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .reference-container {
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .reference-container:not(:last-child) {
    margin-left: 20px;
  }
}

.verse-tags {
  font-weight: bold;
}