<div mat-dialog-content>
    <h3>{{content.bibleGatewayTranslations}}</h3>
    <p>{{content.bibleGatewayTranslationsDescription}}</p>

    <mat-form-field class="search-field" floatLabel="never">
        <mat-label>{{content.searchByLanguageOrTranslation}}</mat-label>
        <input matInput #searchInput (input)="searchChanged(searchInput.value)">
    </mat-form-field>

    <mat-chip-list class="selected-bibles">
        <mat-chip
            *ngFor="let bible of (selectedBibles?.length) ? selectedBibles : defaultBibles"
            class="label-chip" [class.default]="!selectedBibles?.length"
            [removable]="selectedBibles?.length"
            (removed)="deselectBible(bible)"
            [matTooltip]="bible.name">
            {{bible.key}}
            <mat-icon matChipRemove *ngIf="selectedBibles?.length">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>

    <mat-selection-list #bibles (selectionChange)="selectedBiblesChanged(bibles.selectedOptions)">
        <ng-container *ngFor="let language of biblesByLanguage">
            <p [class.hidden]="this.hiddenBibles[language.language.name]">{{language.language.name}}</p>
            <mat-list-option
                *ngFor="let bible of language.bibles"
                [value]="bible"
                [selected]="selectedBibles.includes(bible)"
                [class.hidden]="this.hiddenBibles[language.language.name] || this.hiddenBibles[bible.name]">
                {{bible.name}}
            </mat-list-option>
        </ng-container>
    </mat-selection-list>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>OK</button>
</div>