<mat-form-field class="verse-filter" floatLabel="always">
    <mat-label>Sources</mat-label>
    <mat-select #select multiple disableOptionCentering
        (selectionChange)="filterSelectionChanged($event.value)"
        placeholder="All">
        <mat-select-trigger>
            {{getTriggerText(select.value)}}
        </mat-select-trigger>
        <mat-option *ngFor="let filter of filters"
            [value]="filter" class="{{filter.cssClass}}">{{filter.displayName}}</mat-option>
    </mat-select>
</mat-form-field>