<mat-form-field class="verse-filter" floatLabel="always">
    <mat-label i18n>{{content.sources}}</mat-label>
    <mat-select #select multiple disableOptionCentering [(value)]="selectedFilters"
        (selectionChange)="filterSelectionChanged($event.value)" placeholder="{{content.all}}">
        <mat-select-trigger>
            <ng-container *ngFor="let source of getSelectedSources(select.value); let last = last">
                <span [class.jesus]="source === jesus">{{source}}</span>
                <ng-container *ngIf="!last">,&nbsp;</ng-container>
            </ng-container>
        </mat-select-trigger>
        <mat-option *ngFor="let filter of filters" [value]="filter" class="{{filter.cssClass}}">{{filter.displayName}}
        </mat-option>
    </mat-select>
</mat-form-field>