<ng-container *ngIf="content">
    <app-dialog-header [title]="content.bibleGatewayTranslations"></app-dialog-header>
    <ion-content>
        <div class="dialog-content">
            <p>{{content.bibleGatewayTranslationsDescription}}</p>

            <ion-item class="search-item">
                <ion-input color="primary" [placeholder]="content.searchByLanguageOrTranslation"></ion-input>
            </ion-item>

            <div class="selected-bibles">
                <ion-chip *ngFor="let bible of (selectedBibles?.length) ? selectedBibles : defaultBibles"
                    (click)="deselectBible(bible)"
                    class="label-chip verse-tag" [class.default]="!selectedBibles?.length">
                    {{bible.key}}
                    <ion-icon name="close-circle" *ngIf="selectedBibles?.length"></ion-icon>
                </ion-chip>
            </div>

            <div class="translation-list">
                <ng-container *ngFor="let language of renderedBiblesByLanguage; trackBy:bibleLanguageGroupTracker">
                    <p>{{language.language.name}}</p>
                    <ion-item *ngFor="let bible of language.bibles" (click)="$event.preventDefault(); toggleBible(bible);">
                        <ion-label class="translation-name">{{bible.name}}</ion-label>
                        <ion-checkbox [checked]="selectedBibles.includes(bible)"></ion-checkbox>
                    </ion-item>
                </ng-container>

                <ion-infinite-scroll #infiniteScroll threshold="100px"
                  (ionInfinite)="loadMoreBibles(infiniteScroll)"
                  [disabled]="renderedBibleCount >= bibleCount || bibleCount === 0">
                  <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
    </ion-content>

    <ion-fab class="save-button-container" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="save()">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ng-container>