@use "./../../../vars.scss" as *;

.dialog-content {
    padding-bottom: 70px;
}

.selected-bibles,
.translation-list {
    margin-top: 20px;
}

.search-item.ios {
    position: relative;
    left: -20px;
    width: calc(100% + 20px);
}

.translation-list .translation-name {
    white-space: normal;
    line-height: 1.4em;
}
