@import "./../../../vars.scss";

.dialog-content {
    padding-bottom: 70px;
}

.selected-bibles,
.translation-list {
    margin-top: 20px;
}

.search-item.ios {
    position: relative;
    left: -20px;
    width: calc(100% + 20px);
}