<div #container class="tag-container static-tag-list">
  <div #chipList class="verse-tag-list">
    <ng-container *ngTemplateOutlet="chips; context: { $implicit: tags}"></ng-container>
  </div>
</div>

<div class="sticky-wrapper">
  <div #stickyContainer class="tag-container sticky-tag-list" [class.visible]="stickyListVisible"
    [class.collapsed]="collapsed">
    <div #stickyChipList class="verse-tag-list">
      <ng-container *ngTemplateOutlet="chips; context: { $implicit: tags}"></ng-container>
    </div>
    <span class="open-toggle" (click)="collapsed = !collapsed">V</span>
  </div>
</div>

<ng-template #chips let-tags>
  <ion-chip *ngFor="let tag of tags" (click)="tagClicked(tag.key)"
    class="clickable verse-tag"
    [class.selected]="selectedTagMap[tag.key]"
    [class.disabled]="disabledTagMap[tag.key]"
    #tooltip="matTooltip" [matTooltip]="tag.description"
    matTooltipTouchGestures="auto" matTooltipClass="tooltip">
    {{tag.name}}
  </ion-chip>
</ng-template>