// Import library functions for theme creation.
@use '~@angular/material/theming' as *;
@use '../../vars.scss' as *;

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin wij-tag-list-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  
  .sticky-tag-list {
    border-bottom: 1px solid mat-color($primary, lighter);
  }

  .tooltip {
    font-size: 1em;
  }
}
