@use "../../vars.scss" as *;

:host {
  line-height: 2em;
  font-weight: 400;
  z-index: 2;
}

.static-tag-list {
  max-width: 900px;
  margin: auto;

  .verse-tag-list {
    justify-content: center;
  }
}

.verse-tag-list {
  display: flex;
  flex-flow: wrap;
}

.tag-container {
  padding: 6px $page-padding;

  .verse-tag {
    user-select: none;
  }
}

.sticky-wrapper {
  position: absolute;
  top: 0;
}

.sticky-tag-list {
  position: fixed;
  visibility: hidden;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  background: var(--ion-background-color);

  .open-toggle {
    position: absolute;
    right: 5px;
    background: white;
    padding: 0px 11px;
    border: 1px solid black;
    border-radius: 5em;
    bottom: -16px;
    display: none;
  }

  &.visible {
    visibility: visible;
  }

  &.collapsed {
    padding: 0;

    .verse-tag {
      overflow: initial;
      white-space: nowrap;
    }

    .verse-tag:not(.selected) {
      display: none;
    }

    .verse-tag-list {
      flex-wrap: initial;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 10px 0;
      margin: -4px 0;

      &:after,
      &:before {
        content: "";
        padding: 8px;
      }
    }
  }
}
