button {
    border: 3px solid #0075A1;
    background: #0075A1;
    border-radius: 1em;
    padding: 3px 8px;
    font-variant: small-caps;
    color: #FFF;
    cursor: pointer;
}

button.on {
    background: #FFF;
    color: #0075A1;
}

button:focus {
    outline: none;

    &:not(.on) {
        background: #005581;
        border-color: #005581;
    }

    &.on {
        background: #E9E9E9;
    }
}

/*
button:not(.bold) {
    background: #50C5F1;
    border-color: #50C5F1;
}

button:not(.bold).on {
    background: #FFF;
    color: #50C5F1;
}

button:focus:not(.bold) {

    &:not(.on) {
        background: #30A5D1;
        border-color: #30A5D1;
    }

    &.on {
        background: #E9E9E9;
    }
}
*/