<ng-container *ngIf="content">
    <app-dialog-header [title]="content.about"></app-dialog-header>
    <ion-content>
        <div mat-dialog-content class="dialog-content">
            <h3>{{content.infoAboutTitle}}</h3>
            <p [innerHTML]="content.infoAbout"></p>

            <h3>{{content.infoBibleTranslationTitle}}</h3>
            <p [innerHTML]="content.infoBibleTranslation"></p>
            <div class="copyright-notice" [innerHTML]="content.bibleTranslationCopyrightNotice"></div>

            <h3>{{content.infoChronologyTitle}}</h3>
            <p [innerHTML]="content.infoChronology"></p>

            <h3>{{content.feedbackTitle}}</h3>
            <p [innerHTML]="content.feedbackInfo"></p>
        </div>
    </ion-content>
</ng-container>