@import "../vars.scss";

.title {
  font-size: 5em;
  font-weight: 200;
  margin: $page-padding;
  text-align: center;

  @media only screen and ($small-screen) {
    font-size: 4em;
    line-height: 1.7em;
  }

  @media only screen and ($not-big-screen) {
    margin-top: 30px;
  }
}

.intro-wrapper {
  padding: $page-padding;
  margin: 20px 0 30px;
  
  @media only screen and ($small-screen) {
    margin-top: 40px;
  }
}

.intro {
  text-align: center;
  margin: auto;
  font-size: 1.4em;
}

.instructions-container {
  transition: 1s;

  &.hidden-instructions {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-height: 0 !important;
    opacity: 0 !important;
  }
}

.instructions {
  margin: auto;
  padding: 0 $page-padding 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.tag-list {
  margin-bottom: $page-padding;
}

.verse-container {
  margin: auto;
}

::ng-deep .verse-container.hide-verses .verse-number {
  display: none;
}

.verse-container-wrapper {
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.verse {
  @media only screen and ($small-screen) {
    margin-bottom: 10px;
  }
}

.verse-group:not(:first-child) {
  margin-top: 50px;
}

.option-container {
  padding: 0 30px;
  margin-bottom: $page-padding;
  margin-top: 10px;
  display: flex;
  justify-content: center;

  @media only screen and ($small-screen) {
    flex-direction: column;
  }

  * {
    @media only screen and ($not-small-screen) {
      padding: 0 10px;
      width: 260px;
      max-width: 33.33%;
    }

    @media only screen and ($small-screen) {
      width: 100%;
    }
  }

  .multi-select {
    margin-top: 18px;
  }
}

.top-bar {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;

  & > * {
    margin: 8px 4px;
  }

  & > *:last-child {
    margin-right: 8px;
  }
}

.no-verses-filler {
  font-size: 1.1em;
  text-align: center;
}