<div class="top-bar">
  <button mat-button (click)="infoClicked()">{{content.about | uppercase}}</button>
  <app-language-picker></app-language-picker>
</div>

<h1 class="title" [innerHTML]="content.pageTitle" i18n></h1>

<div class="intro-wrapper inverse-section">
  <div class="intro text-block" [innerHTML]="content.pageIntro(content.verses.length)"></div>
</div>


<div #tagInstructions class="instructions-container">
  <div class="text-block instructions">
    <app-tag-instructions-content></app-tag-instructions-content>
  </div>
</div>

<app-tag-list class="tag-list" [tags]="tags" [activeTags]="activeTags" [multiple]="optionsSelection[options.MultiTags]"
  (selectedTagsChange)="selectedTagsChanged($event)"></app-tag-list>

<div #optionInstructions class="instructions-container">
  <div class="text-block instructions">
    {{content.optionInstructions}}
  </div>
</div>

<div class="option-container">
  <app-source-filter (filterChange)="sourceFilterChanged($event)"></app-source-filter>
  <app-verse-order-select (orderChange)="verseOrderChanged($event)"></app-verse-order-select>
  <app-options-list (optionsChange)="selectedOptionsChanged($event)"></app-options-list>
</div>

<div class="verse-container-wrapper">
  <div class="verse-container" [class.hide-verses]="!content.showVerseNumbers">
    <ng-container *ngIf="verses.length; else noVersesFiller">
      <ng-container *ngIf="groupByTag; else standardVerseList">
        <div class="verse-group" *ngFor="let group of verseGroups">
          <ng-container *ngTemplateOutlet="standardVerseList; context: group"></ng-container>
        </div>
      </ng-container>
      <ng-template #standardVerseList let-verseGroup="verses" let-tag="tag">
        <app-tagged-verse-group-header *ngIf="tag || selectedTags.length" [tags]="tag || selectedTags">
        </app-tagged-verse-group-header>
        <div *ngFor="let verse of verseGroup || verses" class="verse">
          <app-verse [verses]="verse" [translations]="this.optionsSelection.BGTranslations"></app-verse>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #noVersesFiller>
      <div class="no-verses-filler text-block">
        {{content.noVersesFound}}
      </div>
    </ng-template>
  </div>
</div>

<app-page-footer></app-page-footer>