@import '../vars.scss';

.title {
  font-size: 5em;
  font-weight: 100;
  margin: 20px;
}

.jesus-title {
  font-family: "Lovers Quarrel";
  font-size: 1.6em;
  margin: 0 15px;
}

.verse-container {
  margin: 20px;
}

.verse {
  margin-bottom: 10px;
  @media only screen and ($small-screen) {
    margin-bottom: 20px;
  }
}

.option-container {
  padding: 10px 30px;
  display: flex;

  * {
    margin-right: 50px;
  }

  .multi-select {
    margin-top: 18px;
  }

  .verse-filter {
    width: 250px;
  }
}