@import "../vars.scss";

.title {
  font-size: 5em;
  font-weight: 200;
  margin: 20px;
  text-align: center;

  @media only screen and ($small-screen) {
    font-size: 4em;
  }
}

::ng-deep.jesus-title {
  font-family: "Lovers Quarrel";
  font-size: 2.05em;
  margin: 0 15px;
}

.verse-container {
  max-width: 800px;
  margin: 20px auto;
}

.verse-container-wrapper {
  padding: 0 20px;
}

.verse {
  margin-bottom: 10px;
  @media only screen and ($small-screen) {
    margin-bottom: 20px;
  }
}

.verse-group:not(:first-child) {
  margin-top: 50px;
}

.option-container {
  padding: 10px 30px;
  display: flex;
  justify-content: center;

  @media only screen and ($small-screen) {
    flex-direction: column;
  }

  * {
    @media only screen and ($big-screen) {
      margin-right: 20px;
      width: 250px;
      max-width: 50%;
    }

    @media only screen and ($small-screen) {
      width: 100%;
    }
  }

  .multi-select {
    margin-top: 18px;
  }
}
