<h1 class="title">Who is <span class="jesus-title">Jesus?</span></h1>

<div class="option-container">
  <mat-checkbox class="multi-select" #multiSelect color="primary">Multiple tags</mat-checkbox>
  <app-source-filter [filters]="sourceFilters" (filterChange)="sourceFilterChanged($event)"></app-source-filter>
</div>

<app-tag-list class="mat-app-background" [tags]="tags" [multiple]="multiSelect.checked"
  (selectedTagsChange)="onSelectedTagsChanged($event)"></app-tag-list>

<div class="verse-container">
  <div *ngFor="let verse of verses" class="verse">
    <app-verse [verse]="verse"></app-verse>
  </div>
</div>