<h1 class="title" [innerHTML]="content.pageTitle" i18n></h1>

<app-language-picker></app-language-picker>

<div class="option-container">
  <!--mat-checkbox class="multi-select" #multiSelect color="primary">Multiple tags</mat-checkbox-->
  <app-source-filter (filterChange)="sourceFilterChanged($event)"></app-source-filter>
  <app-verse-order-select (orderChange)="verseOrderChanged($event)"></app-verse-order-select>
</div>

<app-tag-list [tags]="tags" [activeTags]="activeTags" [multiple]="true"
  (selectedTagsChange)="selectedTagsChanged($event)"></app-tag-list>

<div class="verse-container">
  <div *ngFor="let verse of verses" class="verse">
    <app-verse [verse]="verse"></app-verse>
  </div>
</div>

<app-page-actions>
  <a href="https://github.com/myieye/who-is-jesus">
    <i class="fab fa-github"></i>
  </a>
  <a (click)="infoClicked()">
    <i class="fas fa-info-circle"></i>
  </a>
</app-page-actions>