:host {
    position: absolute;
    top: 0;
    right: 0;

    margin: 8px;

    text-align: center;
}

.trigger {
    z-index: 10;

    ::ng-deep .mat-button-wrapper {
        position: relative;
        top: -4px;
    }
}

.icon {
    position: relative;
    top: -7px;
}
