:host {
    text-align: center;
    position: relative;
}

.trigger {
    margin: 0;
    z-index: 10;
}

.icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14px;
}
