// Import library functions for theme creation.
@use "~@angular/material/theming" as *;

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin wij-page-footer-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);

    app-page-footer {
        .copyright-notice {
            border-top: 1px solid mat-color($primary, lighter);
        }

        .domain-info a {
            color: mat-color($background, background);
            text-decoration: none;
        }
    }
}
