:host {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.copyright-notice {
    padding: 20px 10px 10px;
}

.domain-info {
    padding: 10px;
    font-size: 10px;
}
