<mat-form-field class="options-list" floatLabel="always">
    <mat-label i18n>{{content.options}}</mat-label>
    <mat-select #select multiple disableOptionCentering [(value)]="selectedOptions"
        (selectionChange)="optionsChanged($event.value)" [placeholder]="optionsTriggerText">
        <mat-select-trigger>{{optionsTriggerText}}</mat-select-trigger>
        <mat-option *ngFor="let option of options" [value]="option">{{option.displayName}}
        </mat-option>
        <button mat-menu-item (click)="bibleTranslationsClicked()">{{content.bibleGatewayTranslations}}...</button>
    </mat-select>
</mat-form-field>