// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material/theming" as *;
@use "./app/verse/verse.component.scss-theme.scss" as *;
@use "./app/tag-list/tag-list.component.scss-theme.scss" as *;
@use "./app/source-filter/source-filter.component.scss-theme.scss" as *;
@use "./app/page-footer/page-footer.component.scss-theme.scss" as *;
@use "./app/tagged-verse-group-header/tagged-verse-group-header.component.scss-theme.scss" as *;
@use "./app/dialogs/info-dialog/info-dialog.component.scss-theme.scss" as *;
@use "./app/dialogs/bible-translations-dialog/bible-translations-dialog.component.scss-theme.scss" as *;
@use "./vars.scss" as *;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: mat-palette($mat-indigo, 500, 100, 700);
// default: #3f51b5 darker: #303f9f, lighter: #c5cae9
$accent-palette: mat-palette($mat-pink, A200, A100, A400);
$inverse-primary-palette: mat-palette($mat-indigo, A200, 50, 600);

// The warn palette is optional (defaults to red).
$warn-palette: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary-palette, $primary-palette, $warn-palette);
$primary: map-get($theme, primary);
$background: map-get($theme, background);
$foreground: map-merge(
  map-get($theme, foreground),
  (
    elevation: $jesus-red-dark,
  )
);

$theme: map-merge(
  $theme,
  (
    foreground: $foreground,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include wij-verse-theme($theme);
@include wij-tag-list-theme($theme);
@include wij-source-filter-theme($theme);
@include wij-page-footer-theme($theme);
@include wij-tagged-verse-group-header-theme($theme);
@include wij-info-dialog-theme($theme);
@include wij-bible-translations-dialog-theme($theme);

body {
  margin: 0;
}

body {
  &,
  & [class*="mat-"]:not(.mat-icon) {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
  }
}

h3 {
  display: inline-block;
  margin: 5px 0 0 0;
  max-width: 100%;
  border-bottom: 3px solid mat-color($primary);
  font-size: 2em;

  @media only screen and ($small-screen) {
    font-size: 1.6em;
  }
}

app-root,
app-tag-list {
  display: block;
}

.jesus {
  color: $jesus-red !important;
}

.primary {
  color: mat-color($primary);
}

@include darkStyles {
  .jesus {
    color: #ed4646 !important;
  }
}

.inverse-section {
  background: $dark-grey;
  color: mat-color($background, background);

  .jesus {
    color: $jesus-red-light !important;
  }

  .primary {
    color: mat-color($inverse-primary-palette);
  }
}

.glory {
  font-size: 2.4em;
  color: $jesus-red;
  font-family: "Lovers Quarrel";
  margin-left: 0.1em;
  font-weight: 200;
}

.text-block {
  max-width: $text-block-width;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

@media only screen and ($not-small-screen) {
  .cdk-overlay-container .mat-dialog-container {
    padding: 40px;
  }
}

.copyright-notice {
  margin: 1em auto;

  p {
    margin: 0;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
  }
}

body {
  &.big-screen {
    .small-screen-content {
      display: none;
    }
  }

  &:not(.big-screen) {
    .big-screen-content {
      display: none;
    }
  }
}

.verse-tag {
  color: mat-color($primary);
  background-color: var(--verse-tag-background);
  font-weight: 600;

  &.label-chip {
    border: 1px solid mat-color($primary);
  }

  &.selected {
    color: mat-color($background, unselected-chip);
    background-color: mat-color($primary);
  }
}

.dialog-content {
  padding: 20px;
}

.inline-icon-container {
  position: relative;
  top: 2px;

  @media only screen and ($not-big-screen) {
    margin-left: initial;
  }

  img {
    height: 1em;
    filter: grayscale(100%);
  }
}

.mat-form-field-flex {
  padding: 0px 10px 2px 10px !important;
}

.mat-form-field-can-float .mat-form-field-flex {
  padding-top: 9px !important;
}

@include darkStyles {
  .inline-icon-container img {
    filter: grayscale(100%) invert(100%);
  }

  .mat-select-placeholder,
  .mat-select-value-text,
  .mat-menu-item,
  .mat-option:not(.jesus),
  .mat-form-field-label {
    color: var(--ion-color-primary-contrast) !important;
  }

  .mat-pseudo-checkbox:not(.mat-pseudo-checkbox-checked) {
    border-color: var(--ion-color-primary-contrast) !important;
  }

  .mat-form-field-label {
    filter: brightness(0.6);
  }

  .ios .mat-form-field-underline {
    background-color: var(--ion-color-primary-contrast) !important;
    filter: brightness(0.6);
  }

  .mat-select-arrow {
    border-top-color: var(--ion-color-primary-contrast) !important;
  }

  .mat-form-field-flex {
    background-color: var(--ion-item-background) !important;
  }

  .mat-select-panel,
  .mat-menu-panel {
    background-color: var(--ion-background-color) !important;
  }
}

/* Hack for displaying tooltips on the bottom of the screen */
body.use-app-features {
  .mat-tooltip-panel {
    bottom: 0 !important;
    left: 0 !important;
    top: initial !important;
    right: initial !important;
    width: 100% !important;
  }

  mat-tooltip-component {
    max-width: 95vw !important;
    margin: 0 auto !important;
  }

  .mat-tooltip {
    margin: 14px 0 !important;
    max-width: 100% !important;
    width: auto !important;
  }
}

ion-icon[name*="contrast-"],
ion-icon[icon*="contrast-"] {
  transform: rotate(210deg);
}
