// Keep any changes synchronized with vars.ts

$small-screen: "max-width: 500px";
$not-small-screen: "min-width: 501px";

$very-big-screen: "min-width: 1300px";
$not-very-big-screen: "max-width: 1299px";

$big-screen: "min-width: 1050px";
$not-big-screen: "max-width: 1049px";

$jesus-red-light: #ED4646;
$jesus-red: #AD0606;
$jesus-red-dark: #ad060650;

$light-grey: #CCC;
$mid-grey: #666;
$dark-grey: #333;

$text-block-width: 600px;

@mixin centered-grid-column-layout {
  display: grid;
  grid-template-columns: 1fr $text-block-width 1fr;
}
