@use "../../vars.scss" as *;

:host {
    @include centered-grid-column-layout;
    margin-bottom: 20px;
    padding-bottom: 10px;
    row-gap: 10px;

    line-height: 1.8;
    align-items: center;
    font-weight: 600;
    
    @media only screen and ($not-big-screen) {
        grid-template-columns: auto 1fr;
    }
}

.verse-tag {
    pointer-events: none;
    margin-right: 20px;
    flex-shrink: 0;
}

.label-chip {
    grid-column: 1;
    justify-self: right;
}

.description {
    grid-column: 2;
}
